%html
  %head
    %title CNS Printer Checker
    %link(rel="stylesheet" href="css/style.css")
    %script(type="text/javascript" src="./script.js")
  %body
    #wrap
      %h2
        CNS Printer達のご機嫌をお伺いするページ
      %p #{@date}
      %table(id="mono")
        %tbody
          %tr
            %th
              %td トレイ1 (A4)(1.5束)
            %td トレイ2 (A3)(1.5束)
            %td トレイ3 (A4)(5束)
          #{@table}
      %form(method="GET" action="/")
        %input(type="submit" value="GO")
